azure-iqair-metadata-driven-ingestion/adf/pipeline/PL_IQAir_MetadataDriven_Ingestion.json
{
	"name": "PL_IQAir_MetadataDriven_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "LKP_ExecutionContext",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\n'EXEC get_execution_context @environment = ''',\npipeline().parameters.environment,\n''''\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Metadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_ExecutionId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_ExecutionContext",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "execution_id",
					"value": {
						"value": "@activity('LKP_ExecutionContext').output.firstRow.execution_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_StartPipelineRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SET_ExecutionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[start_pipeline_run]",
					"storedProcedureParameters": {
						"execution_id": {
							"value": {
								"value": "@variables('execution_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"environment": {
							"value": {
								"value": "@pipeline().parameters.environment",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_IQAir",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_EndPipelineRun_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP_MainETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[end_pipeline_run]",
					"storedProcedureParameters": {
						"execution_id": {
							"value": {
								"value": "@variables('execution_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"final_status": {
							"value": "SUCCESS",
							"type": "String"
						},
						"error_message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_IQAir",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_EndPipelineRun_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "EP_MainETL",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[end_pipeline_run]",
					"storedProcedureParameters": {
						"execution_id": {
							"value": {
								"value": "@variables('execution_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"final_status": {
							"value": "FAILED",
							"type": "String"
						},
						"error_message": {
							"value": {
								"value": "@activity('EP_MainETL').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_IQAir",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "EP_MainETL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP_StartPipelineRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_IQAir_Main_ETL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"execution_id": {
							"value": "@variables('execution_id')",
							"type": "Expression"
						},
						"environment": {
							"value": "@pipeline().parameters.environment",
							"type": "Expression"
						},
						"pipeline_run_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"bronze_enabled": {
							"value": "@pipeline().parameters.bronze_enabled",
							"type": "Expression"
						},
						"silver_enabled": {
							"value": "@pipeline().parameters.silver_enabled",
							"type": "Expression"
						},
						"gold_enabled": {
							"value": "@pipeline().parameters.gold_enabled",
							"type": "Expression"
						},
						"dq_enabled": {
							"value": "@pipeline().parameters.dq_enabled",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"environment": {
				"type": "string",
				"defaultValue": "dev"
			},
			"bronze_enabled": {
				"type": "bool",
				"defaultValue": true
			},
			"silver_enabled": {
				"type": "bool",
				"defaultValue": true
			},
			"gold_enabled": {
				"type": "bool",
				"defaultValue": true
			},
			"dq_enabled": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"execution_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-29T14:46:39Z"
	}
}